@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #221f1f;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*------------- header | all pages -------------*/

.header {
    background-color: #1c5bc3;
    height: 76px;
}

.header__row-left {
    float: left;
    margin-top: 20px;
    width: 50%;
    padding-left: 20px;
}

.header__row-right {
    float: left;
    width: 50%;
    text-align: right;
    margin-top: 18px;
    padding-right: 20px;
}


.header__phone {
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}

.header__schedule {
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    padding: 0;
    margin-top: 2px;
}

.header__schedule:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}

.page {
    width: 1100px;
    margin: 0 auto;
}

.sidebar {
    float: left;
    width: 200px;
}

.content {
    float: left;
    width: 900px;
}

/*------------- sidebar | all pages -------------*/

.nav-menu__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 180px;
}

.nav-menu__item {
    position: relative;
    margin-bottom: 30px;
}

.nav-menu__link {
    color: #1c5bc3;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-left: 40px; 
}

.nav-menu__link:hover,
.nav-menu__link--active .nav-menu__link {
    color: #221f1f;
}

.nav-menu__link::before {
    content: "";
    display: block;
    width: 23px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav-menu__link--main::before {
    background-image: url('../img/icons/main.png');
}

.nav-menu__link--main:hover::before,
.nav-menu__link--active .nav-menu__link--main::before {
    background-image: url('../img/icons/main_hover.png');
}

.nav-menu__link--team::before {
    background-image: url('../img/icons/team.png');
}

.nav-menu__link--team:hover::before,
.nav-menu__link--active .nav-menu__link--team::before {
    background-image: url('../img/icons/team_hover.png');
}

.nav-menu__link--comments::before {
    background-image: url('../img/icons/feed.png');
}

.nav-menu__link--comments:hover::before,
.nav-menu__link--active .nav-menu__link--comments::before {
    background-image: url('../img/icons/feed_hover.png');
}

/*.nav-menu__link-main,
.nav-menu__link-team, 
.nav-menu__link-comments {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #1c5bc3;
    font-weight: bold;
    display: inline-block;
    max-width: 140px;
}

.nav-menu__link-main .nav-menu__text::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: -39px;
    width: 23px;
    height: 18px;
    background-image: url('../img/icons/main.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav-menu__link-main:hover .nav-menu__text::before,
.nav-menu__link-main--active .nav-menu__text::before {
    background-image: url('../img/icons/main_hover.png');
}

.nav-menu__link-team .nav-menu__text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -39px;
    width: 23px;
    height: 18px;
    background-image: url('../img/icons/team.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav-menu__link-team:hover .nav-menu__text::before,
.nav-menu__link-team--active .nav-menu__text::before {
    background-image: url('../img/icons/team_hover.png');
}

.nav-menu__link-comments .nav-menu__text::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -39px;
    width: 23px;
    height: 18px;
    background-image: url('../img/icons/feed.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

.nav-menu__link-comments:hover .nav-menu__text::before,
.nav-menu__link-comments--active .nav-menu__text::before {
    background-image: url('../img/icons/feed_hover.png');
}

.nav-menu__link-main--active,
.nav-menu__link-team--active,
.nav-menu__link-comments--active,
.nav-menu__text:hover {
    color: #221f1f;
}*/

/*------------- breadchrumbs | team, comments -------------*/

.breadchrumbs__list {
    list-style-type: none;
    font-style: italic;
}

.breadchrumbs__item {
    color: rgba(34, 31, 31, .8);
}

.breadchrumbs__link {
    color: rgba(28, 91, 195, .8);
}

/*------------- content | main.html -------------*/

.main-content_title {
    font-weight: bold;
    font-size: 49px;
}

/*------------- content__description | main.html -------------*/

.main-content__description {
    color: #fff;
    background-color: #1c5bc3;
}

.main-content__text-strong {
    font-weight: bold;
}

.main-content__link-apply {
    color: white;
    font-weight: bold;
}

.main-content__link-phone {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-content__link-strong:hover {
    color: rgba(255, 255, 255, .8);
}

/*------------- content__partners | main.html -------------*/

.content__partners-title {
    font-size: 49px;
    padding-top: 66px;
    margin-top: 0;
    margin-bottom: 60px;
}

.content__partners-list {
    list-style-type: none; 
    padding: 0;
}

.content__partners-item {
    display: inline-block;
    vertical-align: middle;
    width: 59%;
    text-align: center;
    margin-bottom: 60px;
}

.content__partners-item:first-child {
    width: 20%;
}

.content__partners-item:last-child {
    width: 20%;
}

.content__partners-icon {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.content__partners-icon:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}

/*------------- content | team.html -------------*/

.team-user__list {
    list-style-type: none;
}

.team-user__item .team-user__item-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.team-user__item:nth-of-type(1) .team-user__item-avatar {
    position: relative;
    top: -25px;
    left: -75px;
}

.team-user__item:nth-of-type(2) .team-user__item-avatar {
    position: relative;
    top: -10px;
    left: -120px;
}

.team-user__item:nth-of-type(3) .team-user__item-avatar {
    position: relative;
    width: 600px;
    top: -130px;
    left: -165px;
}

.team-user__item:nth-of-type(4) .team-user__item-avatar {
    position: relative;
    width: 160px;
    top: 0px;
    left: 0px;
}

.team-user__item:nth-of-type(5) .team-user__item-avatar {
    position: relative;
    top: -20px;
    left: -280px;
}

.team-user__item:nth-of-type(6) .team-user__item-avatar {
    position: relative;
    width: 330px;
    top: 0px;
    left: -150px;
}

.item-text__user {
    font-size: 18px;
    font-weight: bold;
}

.item-text__desc {
    color: #1c5bc3;
    font-weight: bold;
    font-size: 14px;
}

/*------------- content | comments.html -------------*/

.comments__list {
    list-style-type: none;
}

.comments__item .comments__item-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.comments__item:nth-of-type(1) .comments__item-avatar {
    position: relative;
    width: 170px;
    top: 0px;
    left: -5px;
} 

.comments__item:nth-of-type(2) .comments__item-avatar {
    position: relative;
    width: 170px;
    top: -10px;
    left: 0px;
}

.comments__item:nth-of-type(3) .comments__item-avatar {
    position: relative;
    top: 0px;
    left: 0px;
} 

.comments__item:nth-of-type(4) .comments__item-avatar {
    position: relative;
    width: 160px;
    top: 0px;
    left: 0;
} 

.item-text__date {
    color: #656464;
    font-size: 14px;
}

/*------------- pagination | comments.html -------------*/

.pagination__info {
    font-size: 14px;
}

.paginaton__list {
    list-style-type: none;
}

.pagination a {
    color: #221f1f;
    font-weight: bold;
    text-decoration: none;
}

.pagination__control:first-of-type {
    font-weight: 300;
}

.pagination__item:nth-of-type(1) .pagination__link {
    display: inline-block;
    color: #fff;
    background-color: #1c5bc3;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

/*------------- form | comments.html -------------*/

.form-comments__wrap {
    background-color: #f5f5f5;
}

.form-coomments__title {
    font-size: 49px;
    font-weight: bold;
}

.form-comments__label {
    font-size: 14px;
}

.input-focus:focus {
    border: 1px solid #1c5bc3;
    outline: none;
}


input[type=text]{
    border: none;
    border-radius: 3px;
}

textarea {
    border: none;
    border-radius: 3px;
    resize: none;
}

::-webkit-input-placeholder {color:rgba(34, 31, 31. .5); font-size: 14px;}
::-moz-placeholder          {color:rgba(34, 31, 31. .5); font-size: 14px;}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(34, 31, 31. .5); font-size: 14px;}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(34, 31, 31. .5); font-size: 14px;}



/*------------- footer | all pages -------------*/

.footer {
    background-color: #1c5bc3;
    color: #fff;
}

.footer__copyright {
    font-size: 14px;
}

.footer__copyright-link {
    color: #fff;
    font-weight: bold;
}

.footer__copyright-text-strong {
    font-weight: bold;
}

.socials__title {
    font-weight: bold;
}

.socials__list{
    list-style-type: none;
}

.socials__item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.socials__item-vk {
    background-image: url('../img/icons/social/social_vk.png');
}


.socials__item-vk:hover {
    background-image: url('../img/icons/social/social_vk_hover.png');
}

.socials__item-fb {
    background-image: url('../img/icons/social/social_facebook.png');
}

.socials__item-fb:hover {
    background-image: url('../img/icons/social/social_facebook_hover.png');
}

.socials__item-gp {
    background-image: url('../img/icons/social/social_google.png');
}

.socials__item-gp:hover {
    background-image: url('../img/icons/social/social_google_hover.png');
}

.socials__item-tw {
    background-image: url('../img/icons/social/social_twiter.png');
}

.socials__item-tw:hover {
    background-image: url('../img/icons/social/social_twiter_hover.png');
}

.socials__item-email {
    background-image: url('../img/icons/social/social_gmail.png');
}

.socials__item-email:hover {
    background-image: url('../img/icons/social/social_gmail_hover.png');
}


