@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #221f1f;
}

/*------------- header | all pages -------------*/

.header {
    background-color: #1c5bc3;
}

.header__content-phone {
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}

.header__content-schedule {
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}

.header__content-schedule:hover {
    color: #fff;
}

/*------------- sidebar | all pages -------------*/

.nav-menu__list {
    list-style-type: none; 
}

.nav-menu__link {
    text-decoration: none;
    text-transform: uppercase;
}

.nav-menu__item:nth-of-type(1) .nav-menu__item-icon {
    background-image: url('../img/icons/main.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 17px;
    height: 18px;
}

.nav-menu__item:nth-of-type(1):hover .nav-menu__item-icon {
    background-image: url('../img/icons/main_hover.png');
}

.nav-menu__item:nth-of-type(1) .nav-menu__link-active {
    background-image: url('../img/icons/main_hover.png');
}

.nav-menu__item:nth-of-type(2) .nav-menu__item-icon {
    background-image: url('../img/icons/team.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
}

.nav-menu__item:nth-of-type(2):hover .nav-menu__item-icon {
    background-image: url('../img/icons/team_hover.png');
}

.nav-menu__item:nth-of-type(2) .nav-menu__link-active {
    background-image: url('../img/icons/team_hover.png');
}

.nav-menu__item:nth-of-type(3) .nav-menu__item-icon {
    background-image: url('../img/icons/feed.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
}

.nav-menu__item:nth-of-type(3):hover .nav-menu__item-icon {
    background-image: url('../img/icons/feed_hover.png');
}

.nav-menu__item:nth-of-type(3) .nav-menu__link-active {
    background-image: url('../img/icons/feed_hover.png');
}

.nav-menu__item-text {
    color: #1c5bc3;
    font-weight: bold;
}

.nav-menu__item:hover .nav-menu__item-text {
    color: #221f1f;    
}

.nav-menu__link-text-active {
    color:#221f1f; 
}

/*------------- breadchrumbs | team, comments -------------*/

.breadchrumbs__list {
    list-style-type: none;
    font-style: italic;
}

.breadchrumbs__link {
    color: rgba(28, 91, 195, .8);
}

.breadchrumbs__link-active {
    color: rgba(34, 31, 31, .8);
    text-decoration: none;
}

/*------------- content | main.html -------------*/

.main-content_title {
    font-weight: bold;
    font-size: 49px;
}

/*------------- content__description | main.html -------------*/

.main-content__description {
    color: #fff;
    background-color: #1c5bc3;
}

.main-content__text-strong {
    font-weight: bold;
}

.main-content__link-apply {
    color: white;
    font-weight: bold;
}

.main-content__link-phone {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.main-content__link-strong:hover {
    color: rgba(255, 255, 255, .8);
}

/*------------- content__partners | main.html -------------*/

.content__partners-list {
    list-style-type: none; 
}

.content__partners-item:nth-of-type(1) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_01.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 160px;
    height: 30px;
}

.content__partners-item:nth-of-type(1):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_01_hover.png');
}

.content__partners-item:nth-of-type(2) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_02.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 161px;
    height: 64px;
}

.content__partners-item:nth-of-type(2):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_02_hover.png');
}

.content__partners-item:nth-of-type(3) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_03.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 133px;
    height: 64px;
}

.content__partners-item:nth-of-type(3):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_03_hover.png');
}

.content__partners-item:nth-of-type(4) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_04.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 141px;
    height: 63px;
}

.content__partners-item:nth-of-type(4):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_04_hover.png');
}

.content__partners-item:nth-of-type(5) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_05.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 46px;
    height: 64px;
}

.content__partners-item:nth-of-type(5):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_05_hover.png');
}

.content__partners-item:nth-of-type(6) .content__partners-icon {
    background-image: url('../img/partners/logo_partners_06.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 82px;
    height: 64px;
}

.content__partners-item:nth-of-type(6):hover .content__partners-icon {
    background-image: url('../img/partners/logo_partners_06_hover.png');
}

/*------------- content | team.html -------------*/

.team-user__list {
    list-style-type: none;
}

.team-user__item .team-user__item-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.team-user__item:nth-of-type(1) .team-user__item-avatar {
    position: relative;
    top: -25px;
    left: -75px;
}

.team-user__item:nth-of-type(2) .team-user__item-avatar {
    position: relative;
    top: -10px;
    left: -120px;
}

.team-user__item:nth-of-type(3) .team-user__item-avatar {
    position: relative;
    width: 600px;
    top: -130px;
    left: -165px;
}

.team-user__item:nth-of-type(4) .team-user__item-avatar {
    position: relative;
    width: 160px;
    top: 0px;
    left: 0px;
}

.team-user__item:nth-of-type(5) .team-user__item-avatar {
    position: relative;
    top: -20px;
    left: -280px;
}

.team-user__item:nth-of-type(6) .team-user__item-avatar {
    position: relative;
    width: 330px;
    top: 0px;
    left: -150px;
}

.item-text__user {
    font-size: 18px;
    font-weight: bold;
}

.item-text__desc {
    color: #1c5bc3;
    font-weight: bold;
    font-size: 14px;
}

/*------------- content | comments.html -------------*/

.comments__list {
    list-style-type: none;
}

.comments__item .comments__item-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
}

.comments__item:nth-of-type(1) .comments__item-avatar {
    position: relative;
    width: 170px;
    top: 0px;
    left: -5px;
} 

.comments__item:nth-of-type(2) .comments__item-avatar {
    position: relative;
    width: 170px;
    top: -10px;
    left: 0px;
}

.comments__item:nth-of-type(3) .comments__item-avatar {
    position: relative;
    top: 0px;
    left: 0px;
} 

.comments__item:nth-of-type(4) .comments__item-avatar {
    position: relative;
    width: 160px;
    top: 0px;
    left: 0;
} 

.item-text__date {
    color: #656464;
    font-size: 14px;
}

/*------------- pagination | comments.html -------------*/

.pagination__info {
    font-size: 14px;
}

.paginaton__list {
    list-style-type: none;
}

.pagination a {
    color: #221f1f;
    font-weight: bold;
    text-decoration: none;
}

.pagination__control:first-of-type {
    font-weight: 300;
}

.pagination__item:nth-of-type(1) .pagination__link {
    display: inline-block;
    color: #fff;
    background-color: #1c5bc3;
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

/*------------- form | comments.html -------------*/

.form-comments__wrap {
    background-color: #f5f5f5;
}

.form-coomments__title {
    font-size: 49px;
    font-weight: bold;
}

.form-comments__label {
    font-size: 14px;
}

.input-focus:focus {
    border: 1px solid #1c5bc3;
    outline: none;
}

.form-comments__input {
}

input[type=text]{
    border: none;
    border-radius: 3px;
}

textarea {
    border: none;
    border-radius: 3px;
    resize: none;
}

::-webkit-input-placeholder {color:rgba(34, 31, 31. .5); font-size: 14px;}
::-moz-placeholder          {color:rgba(34, 31, 31. .5); font-size: 14px;}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(34, 31, 31. .5); font-size: 14px;}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(34, 31, 31. .5); font-size: 14px;}



/*------------- footer | all pages -------------*/

.footer {
    background-color: #1c5bc3;
    color: #fff;
}

.footer__copyright {
    font-size: 14px;
}

.footer__copyright-link {
    color: #fff;
    font-weight: bold;
}

.footer__copyright-text-strong {
    font-weight: bold;
}

.footer__social-title {
    font-weight: bold;
}

.footer__social-icons-list{
    list-style-type: none;
}

.footer__social-icons-item:nth-of-type(1) {
    background-image: url('../img/icons/social/social_vk.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.footer__social-icons-item:nth-of-type(1):hover {
    background-image: url('../img/icons/social/social_vk_hover.png');
}

.footer__social-icons-item:nth-of-type(2) {
    background-image: url('../img/icons/social/social_facebook.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.footer__social-icons-item:nth-of-type(2):hover {
    background-image: url('../img/icons/social/social_facebook_hover.png');
}

.footer__social-icons-item:nth-of-type(3) {
    background-image: url('../img/icons/social/social_google.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.footer__social-icons-item:nth-of-type(3):hover {
    background-image: url('../img/icons/social/social_google_hover.png');
}

.footer__social-icons-item:nth-of-type(4) {
    background-image: url('../img/icons/social/social_twiter.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.footer__social-icons-item:nth-of-type(4):hover {
    background-image: url('../img/icons/social/social_twiter_hover.png');
}

.footer__social-icons-item:nth-of-type(5) {
    background-image: url('../img/icons/social/social_gmail.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.footer__social-icons-item:nth-of-type(5):hover {
    background-image: url('../img/icons/social/social_gmail_hover.png');
}


